<div class = "greeting">
  <% if @user == current_user %>
    Hello again, <%= @user.name %>
    <%= render "articles/article_form" %>
  <% else %>
    <%= @user.name %>'s Moonie Profile
  <% end %>
</div>


<div class = "container">
  <div class = "subtitle">Personal Moon Feed</div>
  <% if @user.articles.any? %>
    <ul class = "articles">
      <%= render @articles %>
    </ul>
  <% end %>
</div>
