<div class = "center">
  <h1>Help</h1>
</div>
<h2>So, you've reached out for help...</h2>
<p>
  Unfortunately for you, I, the creator of this soon-to-be fantabulous website, need a whole lotta help toooo~
</p>