<%= form_with(model: @article, local: true) do |f| %>
  <div class = "field" >
    <%= f.text_area :title, placeholder: "Title for new article..." %>
  </div>
  <div class="field">
    <%= f.text_area :body, placeholder: "Compose new article..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>