<%= render "shared/flash_display" %>

<div class="greeting animate-fade">
  Moon Feed
</div>

<div class="paginate-bar animate-fade">
  <%= paginate @articles %>
</div>
<ul class="articles">
  <%= render @articles %>
</ul>
<div class="paginate-bar animate-fade">
 <%= paginate @articles %>
</div>