@import "bootstrap-sprockets";
@import "bootstrap";

// Key Colors
$fg_text_color: #cc9bc5;
$bg_color: #7f499e;
$form_color: #eed5f8;
$subtitle_color: #6e36af;

// Default attributes
$def_border_radius: 12px;

// Google Fonts
//@import url(http://fonts.googleapis.com/css?family=Bungee|Baloo+Chettan+2);

// Font Variables
@font-face {
  font-family: 'bungee';
  src:font-url('Bungee-Regular.ttf');
}

@font-face {
  font-family: 'baloo';
  src:font-url('BalooChettan2-Regular.ttf');
}

@font-face {
  font-family: 'baloo-bold';
  src:font-url('BalooChettan2-Bold.ttf');
}

@font-face {
  font-family: 'nunito-light';
  src:font-url('Nunito-Light.ttf');
}

@font-face {
  font-family: 'nunito-regular';
  src:font-url('Nunito-Regular.ttf');
}

@font-face {
  font-family: 'nunito-bold';
  src:font-url('Nunito-Bold.ttf');
}

@font-face {
  font-family: 'fred-one';
  src:font-url('FredokaOne-Regular.ttf');
}

// For responsive font-sizes
@mixin fluid-type($min-font-size: 12px, $max-font-size: 21px, $lower-range: 420px, $upper-range: 900px) {

  font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ( (100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));
  
  @media screen and (max-width: $lower-range) {
    font-size: $min-font-size;
  }
  @media screen and (min-width: $upper-range){
    font-size: $max-font-size;
  }
}

// Fade-in animations
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(.4) translateY(-8px);
  }
  
  100% {
    opacity: 1;
  }
}

//Styles
/* universal */
body {
  padding-top: 120px;
  background-color: #50315c;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
}

.white-box {
  background-color: white;
  border-radius: 12px;
  border: 2px solid #ccc;
  width: 100px;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
}

/* Header */
#logo {
  font-family: 'bungee';
  color: $fg_text_color;
  float: left;
  padding-top: 15px;
  @include fluid-type(20px, 35px);

  overflow: hidden;
  background: linear-gradient(to right, white, white 50%, $fg_text_color 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;

  transition: background-position 275ms ease;

  &:hover {
    background-position: 0 100%;
  }
}

#logo_pic {
  padding-top: 15px;
}

.jumbotron {
  border-radius: $def_border_radius;
}

.navbar-right li a{
  font-family: 'nunito-regular';
  color: $fg_text_color;
  border-radius: $def_border_radius;
  transition-duration: 0.4s;
  bottom: 50px;
  @include fluid-type(10px, 20px);
}

.dropdown-menu {
  top: 0px;
  border-radius: $def_border_radius;
}

#sign_up_btn {
  font-family: 'baloo';
  background-color: $bg_color;
  color: white;
  border-radius: $def_border_radius;
  border-color: transparent;
  margin-top: 30px;
  @include fluid-type(10px, 24px);

  &:hover{
    transition-duration: 0.4s;
    background-color: white;
    color: $bg_color;
    border-color: $bg_color;
  }
}

/* typography */
h1 {
  font-family: 'bungee';
  color: white;
  @include fluid-type(28px, 80px);
}

h2, h3, h4, h5, h6, p{
  font-family: 'baloo';
}

/* Misc */
.animate-fade {
  animation: fadein 2.5s;
    -moz-animation: fadein 2.5s; /* Firefox */
    -webkit-animation: fadein 2.5s; /* Safari and Chrome */
    -o-animation: fadein 2.5s; /* Opera */
}

#btn_2 {
  font-family: 'baloo-bold';
  color: $subtitle_color;
  border-radius: $def_border_radius;
  border-color: transparent;
  @include fluid-type(10px, 24px);

  &:hover{
    transition-duration: 0.4s;
  }
}

.link {
  color: $fg_text_color;
  &:hover {
    transition-duration: 0.4s;
    color: white;
    &:before, &:after {
      left: 50%;
      right: 50%;
    }
  }
}

.subtitle {
  font-family: 'bungee';
  color: $fg_text_color;
  text-decoration: underline;
  margin-bottom: 20px;
  @include fluid-type(25px, 45px);
}

.greeting {
  font-family: 'bungee';
  padding: 15px;
  color: $fg_text_color;
  @include fluid-type(25px, 50px);
}

.moony-note {
  font-family: 'baloo-bold';
  color: white; 
  @include fluid-type(20px, 30px);
}

.paginate-bar {
  padding-left: 20px; 
}

/* Forms */
.link, .field{
  font-family: 'baloo';
  @include fluid-type(10px, 24px);
}

.form{
  background-color: $form_color;
}

.field {
  color: $subtitle_color;
}

.field {
  right: 0px;
}

/* User Info */
.profile-snippet {
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 20px; 
  height: 500px;
  width: 70%;
  border-radius: 10px;
  background-color: $form_color;
}

.profile-avatar {
  width: 350px;
  height: 350px; 
}

.profile-info {
  font-family: 'fred-one';
  padding: 20px; 
  @include fluid-type(10px, 20px);
}

/* Articles */
.articles {
  list-style: none;
  padding: 5px 80px ;

  li {
    margin: 0 0 20px 0;
    padding: 10px 20px;
    border-top: 1px solid #e8e8e8;
    border-radius: 12px;
    background-color: white;
    animation-name: animateIn;
    animation-duration: 350ms;
    animation-delay: calc(var(--animation-order) * 100ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }

  .article-avatar {
    width: 80px;
    height: 80px;
  }

  .article-user {
    font-family: 'nunito-regular';
    @include fluid-type(10px, 20px);
    padding-left: 25px; 
    padding-top: 0;
  }

  .article-title {
    font-family: 'fred-one';
    @include fluid-type(25px, 40px);
    padding-left: 25px; 
  }

  .article-content {
    font-family: 'nunito-regular';
    @include fluid-type(15px, 25px);
    display: block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    margin-top: 10px; 
    margin-left: 130px;
    img {
      display: block;
      padding: 5px 0;
    }
  }

  .article-timestamp {
    font-family: 'nunito-light';
    color: grey;
    display: block;
    margin-left: 15px;
  }

  .article-links {
    font-family: 'nunito-light';
    margin-left: 15px; 
  }
}

.title-field, .body-field, .post-btn {
  border-radius: 15px;
  font-family: 'baloo';
  font-size: 1vw;
}

.post-btn {
  background-color: #7f499e; 
  color: white; 
  border-color: transparent;
}