@import "bootstrap-sprockets";
@import "bootstrap";

// Key Colors
$bg_color: #cc9bc5;
$fg_text_color: #7f499e;
$form_color: #daf5f3;
$subtitle_color: #f56656;

// Default attributes
$def_border_radius: 12px;

// Google Fonts
//@import url(http://fonts.googleapis.com/css?family=Bungee|Baloo+Chettan+2);

// Font Variables
@font-face {
  font-family: 'bungee';
  src:font-url('Bungee-Regular.ttf');
}

@font-face {
  font-family: 'baloo';
  src:font-url('BalooChettan2-Regular.ttf');
}

@font-face {
  font-family: 'baloo-bold';
  src:font-url('BalooChettan2-Bold.ttf');
}

// For responsive font-sizes
@mixin fluid-type($min-font-size: 12px, $max-font-size: 21px, $lower-range: 420px, $upper-range: 900px) {

  font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ( (100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));
  
  @media screen and (max-width: $lower-range) {
    font-size: $min-font-size;
  }
  @media screen and (min-width: $upper-range){
    font-size: $max-font-size;
  }
}

// Fade-in animations
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

//Styles
/* universal */
body {
  padding-top: 120px;
  background-color: #debfdd;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
}

/* Header */
#logo {
  font-family: 'bungee';
  color: $fg_text_color;
  float: left;
  padding-top: 15px;
  @include fluid-type(20px, 35px);

  overflow: hidden;
  background: linear-gradient(to right, white, white 50%, $fg_text_color 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;

  transition: background-position 275ms ease;

  &:hover {
    background-position: 0 100%;
  }
}

#logo_pic {
  padding-top: 15px;
}

.jumbotron {
  border-radius: $def_border_radius;
  animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

.navbar-right li a{
  font-family: 'baloo';
  color: $fg_text_color;
  border-radius: $def_border_radius;
  transition-duration: 0.4s;
  bottom: 50px;
  @include fluid-type(10px, 20px);
}

.dropdown-menu {
  top: 0px;
  border-radius: $def_border_radius;
}

#sign_up_btn {
  font-family: 'baloo';
  background-color: $bg_color;
  color: white;
  border-radius: $def_border_radius;
  border-color: transparent;
  margin-top: 30px;
  animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
  @include fluid-type(10px, 24px);

  &:hover{
    transition-duration: 0.4s;
    background-color: white;
    color: $bg_color;
    border-color: $bg_color;
  }
}

/* typography */
h1, h2, h3, h4, h5, h6, p {
  animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

h1 {
  font-family: 'bungee';
  @include fluid-type(28px, 80px);
}

h2, h3, h4, h5, h6, p{
  font-family: 'baloo';
}

/* Misc */

#btn_2 {
  font-family: 'baloo-bold';
  color: $subtitle_color;
  border-radius: $def_border_radius;
  border-color: transparent;
  @include fluid-type(10px, 24px);

  &:hover{
    transition-duration: 0.4s;
  }
}

.link, .field{
  font-family: 'baloo';
  @include fluid-type(10px, 24px);
}

.link {
  color: $fg_text_color;
  &:hover {
    transition-duration: 0.4s;
    color: white;
    &:before, &:after {
      left: 50%;
      right: 50%;
    }
  }
}

.subtitle {
  font-family: 'baloo-bold';
  color: $subtitle_color;
  text-decoration: underline;
  margin-bottom: 20px;
  @include fluid-type(25px, 60px);
}

.greeting {
  font-family: 'bungee';
  color: $subtitle_color;
  animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
  @include fluid-type(25px, 50px);
}

.form{
  background-color: $form_color;
}

.field {
  color: $subtitle_color;
}

.field {
  right: 0px;
}